<div class="task-lists">
  <app-task-list
  class="list-container"
  app-droppable
  [dropTags]="['task-item','task-list']"
  [dragEnterClass]="'drag-enter'"
  [app-draggable]="true"
  [dragTag]="'task-list'"
  [draggedClass]="'drag-start'"
  [dragData]="list"
  (dropped)="handleMove($event,list)"
  [ngStyle]="{'order':list.order}"
  *ngFor="let list of list$ | async">
  <app-quick-task (quickTask)="handleQuickTask($event)"></app-quick-task>
    <app-task-header [header]="list.name" (newTask)="launchNewTaskDialog()"
    (moveAll)="launchCopyTaskDialog()" (deleteClick)="launchConfirmDialog(list)"
    (editClick)="launchEditTaskListDialog(list)"></app-task-header>
    <app-task-item *ngFor="let task of list.tasks"
    [item]="task" (taskClick)="launchUpdateTaskDialog(task)">

    </app-task-item>
  </app-task-list>
</div>

<button mat-fab class="fab-button" type="button" (click)="launchNewListDialog($event)">
  <mat-icon>add</mat-icon>
</button>