<form [formGroup]="formModel" (ngSubmit)="login($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>登录：</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-input-container class="full-width">
        <input type="text"  matInput placeholder="您的email" formControlName="email" required>
        <mat-error>{{formModel.controls['email'].errors | json}}</mat-error>
      </mat-input-container>
      <mat-input-container class="full-width">
        <input type="password" matInput placeholder="您的密码" formControlName="password" required>
      </mat-input-container>
      <button type="submit" mat-raised-button color="primary" [disabled]="!formModel.valid">登录</button>
    </mat-card-content>
    <mat-card-actions>
      <p class="text-right">还没有账户？<a routerLink="/register">注册</a></p>
      <p class="text-right">忘记密码？<a href="">找回</a></p>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>每日佳句</mat-card-title>
      <mat-card-subtitle>{{quote?.cn}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="quote?.pic" alt="">
    <mat-card-content>
      {{quote?.en}}
    </mat-card-content>
  </mat-card>
</form>