mat-sidenav-container.myapp-dark-theme{
    background-color: black;
}
mat-sidenav{
    width: 20%;
}

.square{
    margin: 100px auto;
    height:50px;
    width: 50px;
    background-color: aqua;
}
