<div mat-subheader class="taskHeader">
  <div class="header">
    {{taskList.title}}
  </div>
  <div class="fill">
    <button type="button" mat-button (click)="newTask()"><mat-icon>add_circle_outline</mat-icon>新任务</button>
  </div>
  <div>
    <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="updateTaskList()"><mat-icon>dialpad</mat-icon> <span>修改列表名称</span></button>
    <button mat-menu-item (click)="moveThisTaskList()"><mat-icon>voicemail</mat-icon> <span>移动本列表所有内容</span></button>
    <button mat-menu-item (click)="deleteTaskList()"><mat-icon>notifications_off</mat-icon> <span>删除列表</span></button>
  </mat-menu>
</div>