<form [formGroup]="formModel">
  <h3>邀请组员</h3>
  <mat-dialog-content>
    <!-- <mat-form-field>
      <input type="text" matInput placeholder="组员姓名" [matAutocomplete]="auto" formControlName="member">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUser">
        <mat-option *ngFor="let item of items | async" [value]="item">
          {{item.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> -->
    <app-chips-list [label]="'邀请成员'" formControlName="member"></app-chips-list>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="save()" type="button">确定</button>
    <button mat-button mat-dialog-close>取消</button>
  </mat-dialog-actions>
</form>